.startnode{
    background-color: green;
}
.endnode{
    background-color: red;
}
.visited{
    background-color: aqua;
}
.path{
    background-color: yellow;
}

.node{
    outline: 1px solid black;
    height:40px;
    width: 40px;
    float: left;
}
.wall{
    background-color: black;
}
.weight{
    background-color: orange;
}